@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {font-family: 'Roboto', sans-serif;}

.green-txt{color:#54D1BB;}

.white-txt{color: white;}

.blue-txt{color:#2F4076;}

.yellow-txt{color:#F1C205;}

.purple-txt{color:#3D1E69;}

.grey-txt{color:#3E3B3B;}

/* MENU */
.header {
    width: 100%;
    padding: 40px 100px 20px;
    background: linear-gradient(180deg, #2f4076 0%, rgba(47, 64, 118, 0.84) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
